{%- comment -%}
  Include vars:
  scrolly_nav
{%- endcomment -%}

<!-- Header -->
<div id="header">
  <div class="top">
    {%- include logo.html -%}
    {%- include nav.html section_items=include.scrolly_nav -%}
  </div>

<div class="bottom_so" align="center">
  <a href="http://projecteuler.net/ami-gs">
    <img src="http://projecteuler.net/profile/ami_GS.png" width="156" height="43.5" alt="projecteuler record of ami_GS" title="projecteuler record of ami_GS">
  </a>
</div>

<div class="bottom_so" align="center">
  <a href="https://stackoverflow.com/users/2971507/ami-gs">
    <img src="https://stackoverflow.com/users/flair/2971507.png" width="156" height="43.5" alt="profile for ami_GS at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for ami_GS at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
  </a>
</div>
  <div class="bottom">
    {%- include social_icons.html -%}
  </div>
</div>
